<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <%- include("partials/heading") %>
        <main>
            <div class="create-new-item-container">
                <a href="/<%= categoryId %>/items/create">Create New Item</a>
            </div>
            <div class="items-container">
                <% items.map(item => { %>
                    <div class="item-container">
                        <div class="item-name-container">
                            <span class="item-name-bg"><%= item.name %> </span>
                            <div class="item-name"><%= item.name %> </div>
                        </div>
                        <div class="item-seperator"></div>
                        <div class="item-options">
                            <a href="/<%= categoryId %>/items/update/<%= item.id %>">
                                Change Name
                            </a>
                            <form 
                                method="POST" 
                                action="/<%= categoryId %>/items/delete/<%= item.id %>"
                                >
                                <button type="submit">Delete Item</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </main>
    </body>
</html>
