<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <%- include("partials/heading") %>
        <%- include("partials/errors") %>
        <form class="user-form" method="POST" action="/update/<%= categoryId %>">
            <div class="input">
                <label for="categoryName">
                    Category Name: 
                </label>
                <input 
                id="categoryName" 
                type="text" 
                name="categoryName" 
                value=<%= categoryName %> 
                >
            </div>
            <div class="input">
                <label for="pass">Admin Password: </label>
                <input type="password" name="pass" >
            </div>
            <div class="submit-btn-container">
                <button type="submit">
                    Change Name
                </button>
            </div>
        </form>
    </body>
</html>
