<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <%- include("partials/heading") %>
        <%- include("partials/errors") %>
        <form class="user-form" method="POST" action="/<%= categoryId %>/items/update/<%= itemId %>">
            <div class="input">
                <label for="itemName">Item Name:</label>
                <input 
                id="itemName" 
                type="text" 
                name="itemName" 
                value=<%= itemName %> 
                >
            </div>
            <div class="submit-btn-container">
                <button type="submit">Change Name</button>
            </div>
        </form>
    </body>
</html>
